<div class="row detailsForm center">
    <div class="col-md-12">
        <h2>My account</h2>
        <hr/>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <img class="img-circle avatar-big" src="data:image/png;base64,{{user.avatar}}"/>
                <input type="file" file-model="avatar"/>
                <button type="button" class="btn btn-default" ng-click="uploadFile()">Change photo</button>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <label class="form-control" id="name">{{user.name}}</label>
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <label class="form-control" id="surname">{{user.surname}}</label>
                </div>
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <label class="form-control" id="nickname">{{user.nickName}}</label>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <label class="form-control" id="email">{{user.email}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2>Stories</h2>
        <hr/>
        <Label>Search: <input type="text" class="form-control" ng-model="searchText"
                              placeholder="Search for..."></Label>
        <a href="#/story/add" class="btn btn-primary">Add new</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="story in filteredStories | filter:searchText">
            <td>{{story.title}}</td>
            <td>{{story.text | limitTo: 50}}...</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <uib-pagination total-items="user.stories.length" items-per-page="numPerPage" max-size="maxSize"
                            ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
        </div>
    </div>
</div>
