<div class="row registerForm center">
    <div class="col-sm-6 login">
        <div class="form">
            <h2>Login</h2>
            <hr />
            <form>
                <div class="form-group">
                    <label for="emailLogin">Email address</label>
                    <input type="email" class="form-control" id="emailLogin"  ng-model="loginData.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="passwordLogin">Password</label>
                    <input type="password" class="form-control" id="passwordLogin" ng-model="loginData.password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
            </form>
        </div>
    </div>
    <div class="col-sm-6 register">
        <div class="form">
            <h2>Register</h2>
            <hr />
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" ng-model="newUser.name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="surname">Password</label>
                    <input type="text" class="form-control" id="surname" ng-model="newUser.surname" placeholder="Surname">
                </div>
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" class="form-control" id="nickname" ng-model="newUser.nickName" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <label for="emailRegister">Email address</label>
                    <input type="email" class="form-control" id="emailRegister" ng-model="newUser.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="passwordRegister">Password</label>
                    <input type="password" class="form-control" id="passwordRegister" ng-model="newUser.password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" ng-click="register()">Register</button>
            </form>
        </div>
    </div>



</div>
