html, body, .container {
    height: 98%;
}

body {
    background: #00212B;
}

.container {
    margin: 0;
    width: 100%;
}

.row {
    height: 100%;
}

.maxHeight {
    height: 100%;
    
}

.halfHeight {
    height: 50%;
}


.content {
    background-color:#00212B;
}

.scrollBars-auto {
    overflow: auto;
}



.menuCol {
    background:black;
    height: 100%;
    padding: 30px 0;
    border: solid black 1px;
}

    .menuCol > li.active > a,
    .menuCol > li.active > a:hover,
    .menuCol > li.active > a:focus {
        color: black;
        background-color: #5a796c;
        font-family: "BebasNeue";
    }

    .menuCol > .menu-left > a {
        background-color: rgb(38, 45, 44);
        color: white;
        border: none;
    }

    .menuCol > .menu-left > a.active {
        background-color: #5a796c;
        font-weight: bold;
    }

    .menuCol > .menu-left > a:hover,
    .menuCol > .menu-left > a:focus {
        background-color: #5a796c;
        font-weight: bold;
    }






/*NAV BAR*/

.topBar {
    background-color: black;
    margin:0;
}

.navbar-collapse > ul > li > a:link,
.navbar-collapse > ul > li > a:visited {
    color: white;
}

.pagination > li > a,
.pagination > li > a:link,
.pagination > li > a:visited {
    background-color: #00212B;
    color: white;
}